@model IEnumerable<Szakdolgozat01.Models.Foglalas>
@{
    ViewBag.Title = "Asztaltérkép";
}

<h2>Foglalasok</h2>
<table id="foglalasok" class="table-hover col-lg-12">
    <thead>
        <tr>
            <th class="col-md-3">Név</th>
            <th>E-mail cím</th>
            <th class="col-md-3">Telefonszám</th>
            <th class="col-md-3">Időpont</th>
            <th class="col-md-3">Fő</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var f in Model)
        {
            <tr>
                <td class="col-md-3">@f.VezetekNev @f.KeresztNev</td>
                <td class="col-md-3">@f.Email</td>
                <td class="col-md-3">@f.TelSzam</td>
                <td class="col-md-3">@f.Idopont</td>
                <td class="col-md-3">@f.Fo</td>
                <td>
                    <button data-szerkesztes-id="@f.Id" class="szerkesztes">Szerkesztés</button>
                </td>
                <td>
                    <button data-foglalas-id="@f.Id" class="torles">Törlés</button>
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts
    {
    <script>
        $(document).ready(function () {
            $("#foglalasok .js-delete").on("click", function () {
                var btn = $(this);
                if (confirm("Biztosan törölni szereténd a foglalást?")) {
                    $.ajax({
                        url: "/Asztal/Asztalterkep/" + btn.attr("data-foglalas-id"),
                        method: "DELETE",
                        success: function () {
                            btn.parents("tr").remove();
                        }
                    });
                }
            });
        });
    </script>
}
